# -------------------------
# OS files
# -------------------------
ehthumbs.db
Thumbs.db
.DS.Store
.DS.Store/*
**/.DS.Store

# -------------------------
# Editor files
# -------------------------
*.sublime-project
*.sublime-workspace
*.sublime-projectcompletions
*.komodoproject
.vscode

# -------------------------
# Blacklisted
# -------------------------
/node_modules
npm-debug.log
update-notifier-nodemon.json
/lib/shared
/lib/mysql
/lib/pgsql
/lib/mssql
/lib/oracle
yarn-error.log
