.github
.git
.history
.vscode
src
node_modules
tasks
tests
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
.npmignore
.prettierrc
.travis.yml
ROADMAP.md
tsconfig.json
jest.config.js
.nyc_output
