language: node_js
node_js:
  - "8.6.0"
  - "9"
  - "10"
  - "11"
  - "12"
  - "13"
  - "14"
  - "15"
  - "16"
script:
  - export NODE_VERSION=$(node --version)
  - nvm install stable
  - npm i
  - npm run build
  - nvm use $NODE_VERSION
  - npm run test
